//cores
$azulPrimario: #00007e;
$azulSecundario: #072C94;
$azulTerciario: #074C8A;

$preto: #000000;
$preto50: rgba(255,255,255,.5);


$branco: #fff;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$whatsApp: #34af23;
$whatsApp20: rgba(52, 175, 35, 0.2);



//familia tipografica
$fontConteudo: 'Poppins', 'Arial', sans-serif;
$fontTitulos: 'Abril Fatface', cursive;

$transition8: all 0.8s ease-in-out;
$transition6: all 0.6s ease-in-out;
$transition5: all 0.5s ease-in-out;

//border-radius 50%
$roundEdge: 50%;

$borderRadius-4: 4px;
$borderRadius-8: 8px;
$borderRadius-16: 16px;
$borderRadius-24: 24px;
$borderRadius-32: 32px;

$borderLine: 1px solid $amareloPrimario;
$borderBoxs: 1px solid $gray-800;
$borderIconContact: 1px solid rgba(0,0,0,0.1);


$boxShadow-8: 4px 4px 4px 0 rgba(0, 0, 0, 8%);
$boxShadow-24: 8px 8px 8px rgba(0, 0, 0, 24%);

$boxShadow-whats: 0px 0px 24px 4px rgba(52, 175, 35, 0.6);

$boxShadowSpecial: 0px 0px 10px 0px $amareloPrimario;

//filtro para hover
$filtroStacks: invert(80%) sepia(82%) saturate(1904%) hue-rotate(338deg) brightness(99%) contrast(90%);
//filtro icone Jobs
$filtroIconJobAmarelo: invert(100%) sepia(91%) saturate(4581%) hue-rotate(331deg) brightness(96%) contrast(98%);
$filtroIconJobCinza: invert(19%) sepia(19%) saturate(351%) hue-rotate(169deg) brightness(96%) contrast(88%);


// margin-top e padding-top:
$mt0: 0%;
$mt2: 2.5%;
$mt5: 5%;
$mt7: 7.5%;
$mt10: 10%;
$mt12: 12.5%;
$mt15: 15%;
$mt20: 20%;
$mt30: 30%;
$mt50: 50%;
$mt75: 75%;
$mt100: 100%;

$pt0: 0%;
$pt2: 2.5%;
$pt5: 5%;
$pt7: 7.5%;
$pt10: 10%;
$pt12: 12.5%;
$pt15: 15%;
$pt20: 20%;
$pt30: 30%;
$pt50: 50%;
$pt75: 75%;
$pt100: 100%;

//marginbottom e paddingbottom:
$mb0: 0%;
$mb2: 2.5%;
$mb5: 5%;
$mb7: 7.5%;
$mb10: 10%;
$mb12: 12.5%;
$mb15: 15%;
$mb20: 20%;
$mb30: 30%;
$mb50: 50%;
$mb75: 75%;
$mb100: 100%;

$pb0: 0%;
$pb2: 2.5%;
$pb5: 5%;
$pb7: 7.5%;
$pb10: 10%;
$pb12: 12.5%;
$pb15: 15%;
$pb20: 20%;
$pb30: 30%;
$pb50: 50%;
$pb75: 75%;
$pb100: 100%;

//marginleft e padding left:
$ml0: 0%;
$ml2: 2.5%;
$ml5: 5%;
$ml7: 7.5%;
$ml10: 10%;
$ml12: 12.5%;
$ml15: 15%;
$ml20: 20%;
$ml30: 30%;
$ml50: 50%;
$ml75: 75%;
$ml100: 100%;

$pl0: 0%;
$pl2: 2.5%;
$pl5: 5%;
$pl7: 7.5%;
$pl10: 10%;
$pl12: 12.5%;
$pl15: 15%;
$pl20: 20%;
$pl30: 30%;
$pl50: 50%;
$pl75: 75%;
$pl100: 100%;

//marginright e paddingright:
$mr0: 0%;
$mr2: 2.5%;
$mr5: 5%;
$mr7: 7.5%;
$mr10: 10%;
$mr12: 12.5%;
$mr15: 15%;
$mr20: 20%;
$mr30: 30%;
$mr50: 50%;
$mr75: 75%;
$mr100: 100%;

$pr0: 0%;
$pr2: 2.5%;
$pr5: 5%;
$pr7: 7.5%;
$pr10: 10%;
$pr12: 12.5%;
$pr15: 15%;
$pr20: 20%;
$pr30: 30%;
$pr50: 50%;
$pr75: 75%;
$pr100: 100%;
